
/******************/
/*HEADER*/
/******************/

.header{
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  align-items: center;
  padding: 0 3.2rem;
}

.logo{
  height: 2.2rem;
}

/******************/
/*navigation*/
/******************/

.main-nav-links{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3.2rem;
  padding: 3.2rem 0;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  color: #fff;
  background-color: #cf711f;
}




/******************/
/*HERO SECTİON*/
/******************/

.section-hero{
  background-color: #fdf2e9;
  padding:4.8rem 0 9.6rem 0;
}

.hero{
  display: grid;
  max-width: 130rem;
  margin: 0 auto;
  gap: 9.6rem;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-img{
  max-width: 100%;
}

.hero-description{
  font-size: 2rem;
  margin-bottom: 4.8rem;
}


.delivered-meals{
  display: flex;
  align-items: center;
  gap: 6.4rem;
  margin-top: 9.6rem;
}

.delivered-imgs{
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 9.6rem;
  
}

.delivered-imgs img{
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 4px solid #fdf2e9;

}

.delivered-imgs img:last-child{
  margin: 0;
}

.delivered-meals p{
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 3.2rem; 
}

.delivered-text span{
  font-weight: 700;
  color: #cf711f;
}


/******************/
/*FEATURED İN SECTİON*/
/******************/
.section-featured{
  padding: 4.8rem 3.2rem 0;
}
.heading-featured{
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content:space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;

}



/******************/
/*HOW İT WORKS SECTİON*/
/******************/

.how-section{
  padding: 9.6rem 0;
}

.step-number{
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description{
  font-size: 1.8rem;
  line-height: 1.8;
}

.app-img{
  width: 30%;
}

/******************/
/*MEALS SECTİON*/
/******************/

.section-meals{
  padding: 9.6rem 0;
}

.meal-title{
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal{
  
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover{
  transform: translatey(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content{
  padding:3.2rem  4.8rem 4.8rem 4.8rem;
}

.meal-img{
  width: 100%;
  
}

.meal-tags{
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 10rem;
  font-weight: 600;
}

.tag--vegetarian{
  background-color: #51cf66;

}

.tag--vegan{
  background-color: #94d82d;
}

.tag--paleo{
  background-color: #ffd43b;
}


.meal-icon{
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  
}

.list-icon{
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
}

.all-recipes{
  font-size: 1.8rem;
  text-align: center;

}

/******************/
/*TESTİMONALS SECTİON*/
/******************/

.section-testimonials{
 display: grid;
  background-color: #fdf2e9;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
   padding: 9.6rem;
}

.testimonials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
  
}

.testimonial-img {
  width: 64px;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
font-size: 1.8rem;
line-height: 1.8; 
margin-bottom: 1.6rem; 
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery img:hover {
transform: scale(1.1);
}

.gallery-item{
  overflow: hidden;
}
